<button (click)="goBack()">Go Back</button>


<div class="p-grid">
  <div class="p-col-12 p-md-4 p-lg-4">
    <p-card header="Total Confirmed">
      <h2>{{latestData?.Confirmed || 0 | prettyCount}}</h2>
    </p-card>
  </div>
  <div class="p-col-12 p-md-4 p-lg-4">
    <p-card header="Total Death">
      <h2>{{latestData?.Deaths || 0 | prettyCount}}</h2>
    </p-card>
  </div>
  <div class="p-col-12 p-md-4 p-lg-4">
    <p-card header="Total Recovered">
      <h2>{{latestData?.Recovered || 0 | prettyCount}}</h2>
    </p-card>
  </div>
</div>

<div class="p-grid">

  <div class="p-col-12 p-md-6 p-lg-4">
    <p-chart type="bar" [data]="deathGraphData" [options]="prepareGraphOptions('Deaths')"></p-chart>
  </div>
  <div class="p-col-12 p-md-6 p-lg-4">
    <p-chart type="bar" [data]="recoveredGraphData" [options]="prepareGraphOptions('Recovered')"></p-chart>
  </div>
  <div class="p-col-12 p-md-6 p-lg-4">
    <p-chart type="bar" [data]="activeGraphData" [options]="prepareGraphOptions('Active')"></p-chart>
  </div>
  <div class="p-col-12 p-md-4 p-lg-4">
    <p-chart type="pie" [data]="pieChartData"></p-chart>
  </div>
  <!-- <div class="p-col-12 p-md-8 p-lg-8">
    <p-chart type="line" [data]="lineGraphData" [options]="lineGraphOptions"></p-chart>
  </div> -->
</div>
