$backgroundColor : #1a2224;
$boxBackground: #1a352b;

.ui-table {
    &.ui-table-thead {

      &>tr {
        &>th {
          background-color: $boxBackground !important;
        }
      }
    }
  }
