/* You can add global styles to this file, and also import other style files */
$backgroundColor : #1a2224;
$boxBackground: #1a352b;

body {
  min-height: 100vh;
  background: $backgroundColor;
}

.box-shadow {
  box-shadow: 2px 0.25rem 0.75rem rgb(0, 0, 0);
}

.ui-card {
  background-color: $boxBackground !important;
  color:white !important;
  box-shadow: 2px 0.25rem 0.75rem rgb(0, 0, 0) !important;
}
